<link rel="stylesheet" type="text/css" href="/core/fonts/iconic/css/material-design-iconic-font.min.css">
<link rel="stylesheet" type="text/css" href="/core/css/util.css">
<link rel="stylesheet" type="text/css" href="/core/css/main.css">
<link rel="stylesheet" href="/core/css/multiStepForm.css">

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="breadcrumb-hero">
        <div class="container">
            <div class="breadcrumb-hero">
                <h2>Bookings</h2>
                <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas
                    sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p>
            </div>
        </div>
    </div>
    <div class="container">
        <ol>
            <li><a href="/hotel/customer">Home</a></li>
            <li>Bookings</li>
        </ol>
    </div>
</section><!-- End Breadcrumbs -->

<section id="contact" class="contact">
    <div class="container">
        <!-- multistep form -->
        <form id="multistepsform">
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="items">Personal Details</li>
                <li class="items">Payment Details</li>
                <!-- <li>Social Profiles</li> -->

            </ul>
            <!-- fieldsets -->
            <!-- <fieldset>
                <h2 class="fs-title"></h2>
                <h3 class="fs-subtitle"></h3>
                <input type="text" name="email" placeholder="Email" />
                <input type="password" name="pass" placeholder="Password" />
                <input type="password" name="cpass" placeholder="Confirm Password" />
                <input type="button" name="next" class="next action-button" value="Next" />
            </fieldset> -->

            <fieldset>
                <h2 class="fs-title">Personal Details</h2>
                <h3 class="fs-subtitle">Are you a Loyalty Member? <a href="">log in</a></h3>
                <input type="text" name="fname" placeholder="First Name" id="fname" />
                <input type="text" name="lname" placeholder="Last Name" id="lname" />
                <input type="email" name="email" placeholder="abc@gmail.com" id="email" />
                <input type="text" name="phone" id="phone" placeholder="07x-xxxxxxx">
                <textarea name="address" placeholder="Address" id="address"></textarea>
                <!-- <input type="button" name="previous" class="previous action-button" value="Previous" /> -->

                <input type="button" name="next" class="next action-button" value="Next" />
            </fieldset>
            <fieldset>
                <h2 class="fs-title">Payment Details</h2>
                <h3 class="fs-subtitle">20% of total estimated price will have to be paid via online</h3>
                <br>
                <h3 class="fs-title">Estimated total : $ <%= paymentInfo.total %></h3>
                <h3 class="fs-title">Advance Payment : $ <%= paymentInfo.advance %> </h3>
                <!-- <input type="text" name="twitter" placeholder="Twitter" />
                <input type="text" name="facebook" placeholder="Facebook" />
                <input type="text" name="gplus" placeholder="Google Plus" /> -->

                <input type="button" name="previous" class="previous action-button" value="Previous" />
                <input type="submit" name="submit" class="submit action-button" value="Submit" id="submit" />
            </fieldset>
        </form>
    </div>
</section>