<!-- <link rel="stylesheet" type="text/css" href="/core/fonts/iconic/css/material-design-iconic-font.min.css">
<link rel="stylesheet" type="text/css" href="/core/css/util.css">
<link rel="stylesheet" type="text/css" href="/core/css/main.css">
<link rel="stylesheet" href="/core/css/payment.css"> -->
<script src="https://js.stripe.com/v3/"></script>

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="breadcrumb-hero">
        <div class="container">
            <div class="breadcrumb-hero">
                <h2>Bookings</h2>

            </div>
        </div>
    </div>
    <div class="container">
        <ol>
            <li><a href="/hotel/customer">Home</a></li>
            <li>Bookings</li>
        </ol>
    </div>
</section><!-- End Breadcrumbs -->

<section id="contact" class="contact">
    <div class="container">
        <!-- multistep form -->
        <div class="card text-center w-75 mx-auto border-success">

            <div class="card-header">
                <h2 class="fs-title">Personal Details</h2>
            </div>

            <div class="card-body">
                <form id="payment-form" class="row g-3" action="/hotel/customer/reservations/rooms" method="post">
                    <% if (user) { %>
                    <fieldset>
                        <div class="row g-3">
                            <div class="col">
                                <label for="email" class="form-label">E-mail</label>
                                <input class="form-control" type="email" name="email" value="<%= user.email %>"
                                    id="email" disabled />
                            </div>
                            <div class="col">
                                <label for="phone" class="form-label">Mobile No</label>
                                <input class="form-control" type="text" name="phone" id="phone"
                                    placeholder="07x-xxxxxxx" required>
                            </div>
                        </div><br>
                        <div class="row">
                            <label for="address" class="form-label">Address</label>
                        </div><br>
                        <div class="row g-3">
                            <div class="col">
                                <label for="address" class="form-label">Address Line 1</label>
                                <input type="text" class="form-control" name="address[line1]"
                                    placeholder="Address Line 1" id="address" required />
                            </div>
                        </div><br>
                        <div class="row g-3">
                            <div class="col">
                                <label for="city" class="form-label">City</label>
                                <input type="text" class="form-control" name="address[city]" placeholder="city"
                                    id="city" required />
                            </div>
                            <div class="col">
                                <label for="state" class="form-label">state/province</label>
                                <input type="text" class="form-control" name="address[state]" placeholder="state"
                                    id="state" required />
                            </div>
                        </div><br>
                        <div class="row g-3">
                            <div class="col">
                                <label for="postalCode" class="form-label">postal-Code</label>
                                <input type="text" class="form-control" name="address[postalCode]"
                                    placeholder="postalCode" id="postalCode" required />
                            </div>
                            <div class="col">
                                <label for="country" class="form-label">Country</label>
                                <select name="address[country]" id="country" class="form-select" required>
                                    <option value="">----</option>
                                </select>
                            </div>
                        </div><br>

                        <input type="submit" name="submit" class="btn btn-success" value="Next" id="submit" />
                        <a href="/hotel/customer/bookings/discards" class="btn btn-danger">Cancel</a>
                    </fieldset>
                    <% } else {%>
                    <fieldset>
                        <h5 class="fs-subtitle">Are you a Loyalty Member? <a href="">log in</a></h5>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label for="fname" class="form-label">First Name</label>
                                <input class="form-control" type="text" name="fname" placeholder="First Name" id="fname"
                                    required />
                            </div>
                            <div class="col-md-6">
                                <label for="lname" class="form-label">Last Name</label>
                                <input class="form-control" type="text" name="lname" placeholder="Last Name" id="lname"
                                    required />
                            </div>
                        </div><br>
                        <div class="row g-3">
                            <div class="col">
                                <label for="email" class="form-label">E-mail</label>
                                <input class="form-control" type="email" name="email" placeholder="abc@gmail.com"
                                    id="email" required />
                            </div>
                            <div class="col">
                                <label for="phone" class="form-label">Mobile No</label>
                                <input class="form-control" type="text" name="phone" id="phone"
                                    placeholder="07x-xxxxxxx" required>
                            </div>
                        </div><br>
                        <div class="row">
                            <label for="address" class="form-label">Address</label>
                        </div><br>
                        <div class="row g-3">
                            <div class="col">
                                <label for="address" class="form-label">Address Line 1</label>
                                <input type="text" class="form-control" name="address[line1]"
                                    placeholder="Address Line 1" id="address" required />
                            </div>
                        </div><br>
                        <div class="row g-3">
                            <div class="col">
                                <label for="city" class="form-label">City</label>
                                <input type="text" class="form-control" name="address[city]" placeholder="city"
                                    id="city" required />
                            </div>
                            <div class="col">
                                <label for="state" class="form-label">state/province</label>
                                <input type="text" class="form-control" name="address[state]" placeholder="state"
                                    id="state" required />
                            </div>
                        </div><br>
                        <div class="row g-3">
                            <div class="col">
                                <label for="postalCode" class="form-label">postal-Code</label>
                                <input type="text" class="form-control" name="address[postalCode]"
                                    placeholder="postalCode" id="postalCode" required />
                            </div>
                            <div class="col">
                                <label for="country" class="form-label">Country</label>
                                <select name="address[country]" id="country" class="form-select" required>
                                    <option value="">----</option>
                                </select>
                            </div>
                        </div><br>

                        <input type="submit" name="submit" class="btn btn-success" value="Next" id="submit" />
                        <a href="/hotel/customer/bookings/discards" class="btn btn-danger">Cancel</a>
                    </fieldset>
                    <% } %>

                </form>
            </div>

        </div>

    </div>
</section>