<link rel="stylesheet" type="text/css" href="/core/fonts/iconic/css/material-design-iconic-font.min.css">
<link rel="stylesheet" type="text/css" href="/core/css/util.css">
<link rel="stylesheet" type="text/css" href="/core/css/main.css">

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="breadcrumb-hero">
        <div class="container">
            <div class="breadcrumb-hero">
                <h2>Terms & Conditions</h2>
                <!-- <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas
                    sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p> -->
            </div>
        </div>
    </div>
    <div class="container">
        <ol>
            <li><a href="/hotel/customer">Home</a></li>
            <li>Terms & Conditions</li>
        </ol>
    </div>
</section><!-- End Breadcrumbs -->


<!-- ======= Features Section ======= -->
<section id="features" class="features">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Terms & Conditions</h2>
            <p>Check-in Time: From 1400h (02:00 pm)</p>
            <p>Check-out Time: Until 1200h (12:00 noon)</p>
            <br>
            <h4>Final Payment
            </h4>
            <p>If the balance of payment is due for your travel arrangements, the balance payment must be paid by you
                before leaving the hotel, this includes any additional payments incurred within your period of stay at
                the hotel.
            </p>
            <br>
            <h4>Cancellation Policy</h4>
            <p>Failure to arrive at the hotel or cancellations not notified at least 3 days before arrival is subjected
                to a 100% cancellation fee. The guest needs to send an email or call in order to process the
                cancellation and the refund.</p>
            <br>
            <h4>Booking (Reservation) Disputes
            </h4>
            <p>If a dispute arises with regard to a reservation, the hotel has the sole authority to cancel the
                reservation by informing the guest via email. The reservation amount will be refunded in full minus any
                bank charges to the credit card of the guest.</p>
        </div>
    </div>
</section>