<div class="card">
    <div class="card-header card-header-success">
        <!-- <h2 class="card-title">Hello there!</h2> -->
        <!-- <p class="card-category">Created using Roboto Font Family</p> -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                    aria-selected="true">Reservations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                    aria-controls="profile" aria-selected="false">Cancelled Reservations</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab"
                    aria-controls="messages" aria-selected="false">Messages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab"
                    aria-controls="settings" aria-selected="false">Settings</a>
            </li> -->
        </ul>
    </div>
    <div class="card-body">
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">

                <div id="typography">
                    <div class="card-title">
                        <h4>Search Reservations</h4>
                    </div>
                </div>
                <br>
                <div class="col-md-7">
                    <div class="form-group">
                        <label class="bmd-label-floating">E-mail</label>
                        <input type="email" value="" class="form-control" id="email" />
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <label class="bmd-label-floating">Search Name</label>
                        <input type="text" value="" class="form-control" id="name" />
                    </div>
                </div>
                <br>
                <div>
                    <button type="button" class="btn btn-primary" id="bookingSearch">Search Reservations</button>
                </div>
                <hr class="white horizontal my-0">
                <br>
                <div class="row" id="dynamicContent">

                </div>

            </div>
            <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">


                <% if (cancellations.length>0) { %>
                <table class="table">
                    <thead class=" text-primary">
                        <th>
                            Reservation ID
                        </th>
                        <th>
                            Customer
                        </th>
                        <th>
                            No of Guests
                        </th>
                        <th></th>
                        <th></th>
                    </thead>
                    <tbody>
                        <% for( let i = 0; i < cancellations.length; i++ ) { %>
                        <% var element=cancellations[i] %>
                        <tr>
                            <td class="text-warning"><%= element.id%></td>
                            <td><%= element.user.name %></td>
                            <td><%= element.adults %></td>
                            <td><button class="btn btn-primary btn-sm userinfo"
                                    data-userInfo="<%= element.user.id %>">user-info</button></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
                <% } else { %>
                <h4 class="text-warning">No Cancellations available</h4>
                <% } %>


            </div>
            <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">...</div>
            <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">...</div>
        </div>

    </div>
</div>


<button class="btn btn-success" type="button" data-toggle="modal" data-target="#exampleModal" style="display:none ;"
    id="modalTrigger"></button>

<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Customer Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="dynamicContent2">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>


<script>
    const pageIndicator = document.getElementById('cancellations');
    pageIndicator.classList.add('active');
</script>