<div class="card">
    <div class="card-header card-header-success">
        <!-- <h2 class="card-title">Hello there!</h2> -->
        <!-- <p class="card-category">Created using Roboto Font Family</p> -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                    aria-selected="true">Room Reservations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                    aria-controls="profile" aria-selected="false">Hall Reservations</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab"
                    aria-controls="messages" aria-selected="false">Messages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab"
                    aria-controls="settings" aria-selected="false">Settings</a>
            </li> -->
        </ul>
    </div>
    <div class="card-body">
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">

                <div id="typography">
                    <div class="card-title">
                        <h4>Reservations</h4>
                    </div>
                </div>
                <br>
                <div class="col-md-7">
                    <div class="form-group">
                        <label class="bmd-label-floating">E-mail</label>
                        <input type="email" value="" class="form-control" id="email" />
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <label class="bmd-label-floating">Search Name</label>
                        <input type="text" value="" class="form-control" id="name" />
                    </div>
                </div>
                <br>
                <div>
                    <button type="button" class="btn btn-primary" id="bookingSearch">Search Reservations</button>
                </div>
                <hr class="white horizontal my-0">
                <br>
                <div class="row" id="dynamicContent">

                </div>

            </div>
            <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                <div id="typography">
                    <div class="card-title">
                        <h4>Create a Hall Reservation</h4>
                    </div>
                </div>

                <div>
                    <form action="/hotel/admin/receptionist/hallReservations" method="post">
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="reserveDate">reserve date</label>
                                <input type="date" class="form-control" id="reserveDate" name="reserveDate">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputState">Select Hall</label>
                                <select id="hall" class="form-control" name="hall">
                                    <option selected value="0">Grown Banquet Hall</option>
                                    <option value="1">Master Banquet Hall</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <button type="button" class="btn btn-primary" id="hallCheck">Check
                                    Availability</button>
                            </div>
                        </div>
                        <div id="txtDisplay" class="text-warning">Hall Not available</div>
                        <div id="orderContent">
                            <div id="typography">
                                <div class="card-title">
                                    <h5>Customer Details</h5>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <input type="text" class="form-control" name="fname" placeholder="First name"
                                        id="fname">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" name="lname" placeholder="Last name"
                                        id="lname">
                                </div>
                            </div><br>
                            <div class="form-row">
                                <div class="col">
                                    <input type="email" class="form-control" name="email" placeholder="email"
                                        id="email">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" name="mobile" placeholder="mobile"
                                        id="mobile">
                                </div>
                            </div><br>
                            <div class="form-row">
                                <div class="col">
                                    <textarea class="form-control" name="address" id="address" cols="30" rows="1"
                                        placeholder="address"></textarea>
                                </div>
                            </div><br>
                            <div class="form-row">
                                <div class="col-md-3">
                                    <input type="number" class="form-control" name="guests" placeholder="Guest Count"
                                        id="guests">
                                </div>
                                <!-- <div class="col">
                                    <input type="text" class="form-control" placeholder="mobile" id="mobile">
                                </div> -->
                            </div><br>
                            <button type="submit" class="btn btn-primary">Create Reservation</button>
                        </div>
                    </form>
                </div>

            </div>
            <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">...</div>
            <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">...</div>
        </div>








        <!-- </div> -->
    </div>
</div>