<div class="card">
    <div class="card-header card-header-primary">
        <h2 class="card-title">Hello there!</h2>
        <!-- <p class="card-category">Created using Roboto Font Family</p> -->
    </div>
    <div class="card-body">
        <div id="typography">
            <div class="card-title">
                <h4>Reservations</h4>
            </div>
        </div>
        <br>
        <div class="col-md-7">
            <div class="form-group">
                <label class="bmd-label-floating">E-mail</label>
                <input type="email" value="" class="form-control" id="email" />
            </div>
        </div>
        <div class="col-md-7">
            <div class="form-group">
                <label class="bmd-label-floating">Search Name</label>
                <input type="text" value="" class="form-control" id="name" />
            </div>
        </div>
        <br>
        <div>
            <button type="button" class="btn btn-primary" id="bookingSearch">Search Reservations</button>
        </div>
        <hr class="white horizontal my-0">
        <br>
        <div class="row" id="dynamicContent">

        </div>
        <!-- </div> -->
    </div>
</div>