<div class="card">
    <div class="card-header card-header-success">
        <h4 class="card-title">Reports</h4>
        <!-- <p class="card-category">Created using Roboto Font Family</p> -->

    </div>
    <div class="card-body">
        <!-- Tab panes -->
        <!-- <div class="tab-content"> -->



        <div class="form-row">
            <div class="col-md-3">
                <button type="button" class="btn btn-primary" id="dailyreport">Daily Reservations</button>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-primary" id="monthlyreport">Monthly Financial</button>
            </div>

        </div><br>
        <div class="form-row">
            <div class="col-md-3">
                <button type="button" class="btn btn-primary">Room Status</button>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-primary" id="hallreport">Hall Status</button>
            </div>

        </div><br>

    </div>

</div>
</div>
<a href="http://localhost:3000/hotel/admin/receptionist/reports/daily" target="_blank" rel="noopener noreferrer"
    style="display: none;" id="daily"> Sales
    Report</a>
<a href="http://localhost:3000/hotel/admin/receptionist/reports/financial" target="_blank" rel="noopener noreferrer"
    style="display: none;" id="financial">
    Sales Report</a>
<a href="http://localhost:3000/hotel/admin/receptionist/reports/hallStatus" target="_blank" rel="noopener noreferrer"
    style="display: none;" id="hall">
    Sales Report</a>


<script>
    const pageIndicator = document.getElementById('stats');
    const daily = document.getElementById('daily');
    const financial = document.getElementById('financial');
    const dailyreport = document.getElementById('dailyreport');
    const monthlyreport = document.getElementById('monthlyreport');
    const hallreport = document.getElementById('hallreport');
    const hall = document.getElementById('hall')

    pageIndicator.classList.add('active');

    dailyreport.addEventListener('click', () => { daily.click() });
    monthlyreport.addEventListener('click', () => { financial.click() });
    hallreport.addEventListener('click', () => { hall.click() });
</script>