<h4>Name : <span class="text-success"><%= user.name %></span></h4>
<h4>Email : <span class="text-success"><%= user.email %></span></h4>
<h4>mobile No : <span class="text-success"><%= user.mobile %></span></h4>